{% extends "base.html" %}


 
{% macro Section_title(name) -%}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap text-center m-auto align-items-center pt-1 pb-1 mb-1 border-bottom m-auto">
      <h3 class="h4">{{ name }}</h3>
    </div>
{%- endmacro %}
{% macro Book_list(books) -%}
<div class="container row align-items-center justify-content-between gap-2">
  <!-- book cards -->
  {% for book in books %}

  <div class="card mb-3 bg-light align-items-center md-1" style="max-width: 300px;">
    <div class="row g-0">
      <div class="col-md-4 mb-1">
        <img src='/static/images/{{ book.cover }}' class="img-fluid rounded-start mt-3 mb-3" alt="...">
        

        <a type="button" class="btn btn-warning" href="/book/{{book._id}}">View</a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5  style="font-weight: bold;" class="card-title text-center text-dark" class="card-title">{{ book.name }}</h5>
          <h6 class="card-title text-center">{{ book.authors }}</h6>
          <p class="card-text"> {{ book.content }} </p>
          
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  
</div>
{%- endmacro %}


{% macro Section_list(sections) -%}
<div class="container row align-items-center justify-content-between gap-2">
    <!-- book cards -->
    {% for section in sections %}

    <div class="card mb-3 bg-light align-items-center col-3">
        <div class="row g-0">

            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title text-center text-dark" class="card-title">{{
                    section.name }}</h5>
                <h7 class="card-title text-center">{{ section.dateCreated }}</h7>
                <p class="card-text"> {{ section.description }}</p>
                <div class="col-md-4 mb-1">
                    <a class="form-control btn btn-secondary rounded-corners" href="/section/{{section._id}}" value="View">View</a>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}

</div>
{%- endmacro %}


{% block navcontent %}
<form  action="/search" class="m-auto" method="post">
<input type="text" name="search_query" id="search" class="side-b nav-txt text-center bg-dark para-light rounded-pill" placeholder="Search"
  style="padding: 4px; width:400px; margin-left: 20px;">

<a class="side-b nav-txt title-light" href="\" style="margin-left: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
    fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
    <path
      d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
  </svg> Home </a>

<!-- <a class="side-b nav-txt title-light" href="\profile" style="margin-left: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
    height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
    <path
      d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z" />
  </svg> Profile </a> -->
<a class="side-b nav-txt title-light" href="\mybooks" style="margin-left: 20px;">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-half"
    viewBox="0 0 16 16">
    <path
      d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
  </svg>
  My Books </a>

<a class="logout rounded-pill mb-0 mt-0 pt-0 pb-0" href="\logout" style="margin-left: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
    height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
    <path fill-rule="evenodd"
      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
  </svg>
  Sign out </a></form>
{% endblock %}
{% block admincontent %}
 {% endblock %}
{% block maincontent %}

<!-- <span class="text-center m-auto"
    style="max-width: 77%; height: 100dvh; overflow-y: scroll; scrollbar-width: 6px; overflow-x: hidden; overflow-wrap: break-word; padding-right: 50px; padding-left: 20px; padding-top: 10px; background-color: rgba(30, 19, 71, 0.637);">
     -->
{% block varcontent %}{% endblock%}
<!-- </span> -->

{% endblock %}