{% extends "base.html" %}
{% block varcontent %}
<div class="text-center m-auto mb-4">

<h2 class="title-light" style="text-shadow:2px 2px rgba(75, 77, 77, 0.945); ;">Page Not Found</h2>
<h1 class="title-light" style="text-shadow:2px 2px rgba(75, 77, 77, 0.945); ;">Quack!</h1>

<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/956b937f-df50-4da1-a6d9-b92f031b0462/dgfjfm5-a4e30aa6-0d1a-42fa-aac2-0d844aedcdbb.jpg/v1/fill/w_1280,h_1184,q_75,strp/duck_quack_meme_by_sunnygold9_dgfjfm5-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTE4NCIsInBhdGgiOiJcL2ZcLzk1NmI5MzdmLWRmNTAtNGRhMS1hNmQ5LWI5MmYwMzFiMDQ2MlwvZGdmamZtNS1hNGUzMGFhNi0wZDFhLTQyZmEtYWFjMi0wZDg0NGFlZGNkYmIuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.esG_q9SABA1daGD7umNQlIhKGS51okAFen319kNZBl8" height="400px" alt="" style="border: 5px solid  rgb(36, 36, 36); border-radius: 5px; box-shadow: 3px 3px rgba(107, 137, 146, 0.336);">

</div>
{% endblock %}