{% extends "index/main.html" %}
{% block varcontent %}



<span class="text-center m-auto"
    style="max-width: 77%; height: 100dvh; overflow-y: scroll; scrollbar-width: 6px; overflow-x: hidden; overflow-wrap: break-word; padding-right: 50px; padding-left: 20px; padding-top: 10px;">
        {% for i in data %}
        <div class="row bg-dark fw-bold h4 m-auto ">
            <div class="text-center para-light col"> {{i}} : {{data[i]}}</div>
        </div>
        {% endfor %}
       
</span>

{% endblock %}