{% extends "index/main.html" %}


{% block admincontent %}
<!-- <div class="container-fluid mb-3 mt-3"> -->
<span class="mt-0 mb-0 text-center">


  <a class="side-b nav-txt btn title-light" href="\requests" style="padding: 20px;">
    Requests </a>

  <a class="side-b nav-txt title-light" href="\issued" style="padding: 20px;">
    Granted Books </a>
  <a class="side-b nav-txt title-light" href="\users" style="padding: 20px;">

    Users/Students </a>



</span>




<!-- </div> -->
{% endblock %}
{% block varcontent %}
{% endblock%}