{% extends "/admin.html" %}


{% macro Granted_list(requests) -%}
<div class="container row align-items-center justify-content-between gap-2">
    <!-- book cards -->
    {% for request in requests %}

    <div class="card mb-3 bg-light align-items-center p-2 md-1" style="max-width: 300px;">
        <div class="row g-0">
            <div class="row g-0 justify-content-between">
                <div class="col-md-5 mb-1">
                    <h5 style="font-weight: bold;" class="card-title text-center text-dark" class="card-title">Book Id: {{request[0]}}
                    </h5>
                    <!-- <h5 style="font-weight: bold;" class="card-title text-center text-dark" class="card-title">User Id:
                    </h5> -->
                </div>
                <div class="col-md-5 mb-1">
                    <!-- <h5 style="font-weight: bold;" class="card-title text-center text-dark" class="card-title">{{request[0]}}
                    </h5> -->
                    <h5 class="card-title text-center">User Id: {{request[1]}}</h5>
                </div>
            </div>
            <div class="col-md-4 mb-1 m-auto">
                <a type="button" class="btn btn-warning" href="book/{{request[0]}}">View</a>
            </div>
            <div class="col-md-4 mb-1 m-auto">

                <a type="button" class="btn btn-danger" href="/revoke/{{request[1]}}/{{request[0]}}">Revoke</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{%- endmacro %}


{% block varcontent %}

{{Granted_list(requests)}}
{% endblock%}